<div class="row">
    <div class="col-sm-6" *ngIf="selectedDelivery">
        <app-titulo [titulo]="'' + (selectedDelivery.id === 0 ? 'Novo Cliente:' : 'Cód.' + selectedDelivery.id)">
            <button class="btn  btn-warning" (click)="voltar()">Voltar</button>
        </app-titulo>

        <form [formGroup]="deliveryForm" (submit)="deliverySubmit()">
            <div class="form-group">
                <label for="selectedDelivery">Entregas:</label>
                <select formControlName="order" class="form-control" id="orderSelect">
                  <option *ngFor="let ord of order" [value]="ord.id">
                    {{ ord.adress.street }}
                  </option>
                </select>
            </div>
            
            
              <div class="form-group">
                <label for="addressStreet">Frete:</label>
                <input type="number" formControlName="shipping" class="form-control" id="shipping">
              </div>
            
              <div class="form-group">
                <button class="btn btn-success">Enviar</button>
              </div>
        </form>
    </div>
    <div [ngClass]="{'col-sm-6':selectedDelivery, 'col-sm-12':!selectedDelivery}">
        <app-titulo [titulo]="titulo">
            <button class="btn btn-success" (click)="newDelivery()">Cadastrar</button>
        </app-titulo>
        <table class="table table-borderless table-dark table-striped table-lg table-hover">
            <thead class="bg-success">
                <tr>
                    <th scope="col">Visualizar</th>
                    <th scope="col">ID</th>
                    <th scope="col">Pedido</th>
                    <th scope="col">Frete</th>
                    <th scope="col">Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let delivery of deliverys">
                    <td>
                        <button class="text-white btn btn-outline-warning" (click)="deliverySelect(delivery)">Detalhes</button>
                    </td>
                    <td scope="row">{{delivery.id}}</td>
                    <td>{{delivery.order}}</td>
                    <td>R$ {{delivery.shipping}}</td>
                    <td>
                        <div class="btn-group" style="position: relative; right: 25px;">
                            
                            <button class="btn btn-danger ml-2" (click)="deleteDelivery(delivery)">Excluir</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


